/Advanced python soc programs
/data analysis.txt
/desktop.ini
/Dev-C++.lnk
/DOC1DAY1.txt
/DS
/hierarchial.cpp
/KMPlayer.lnk
/myshop
/Person 1 - Chrome.lnk
/Personal - Edge.lnk
/s0c-d4.txt
/SlideToShutDown.lnk
/SOC
/soc day2.txt
/soc day3.txt
/soc-d1.txt
/TODAY CLASS.txt
/vinay
/Visual Studio Code.lnk
/WhatsApp.lnk